<div class= "container">
  <p id="notice"><%= notice %></p>

  <h1>Mi Biblioteca</h1>

  <div class="row my-5">
    <div class="col-md-3">
      <%= search_form_for @q do |f| %>
        <div class="form-group">
          <%= f.label :status_eq, "Estado" %>
          <%= f.select :status_eq, options_for_select(Book.statuses, @q.status_eq ),{},{class:"form-control"}%>
        </div>
        <%= f.submit"Search", class:"btn btn-primary" %>
      <%end%>
    </div>
  </div>

  <%= paginate @books %>
  <div class="row">
    <div class="">
      <table class="table">
        <thead>
          <tr>
            <th>-</th>
            <th>Título del libro</th>
            <th>Autor</th>
            <th>Nombre de persona que lo tiene</th>
            <th>Estado</th>
            <th>Fecha de prestamo</th>
            <th>Fecha de devolución</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td><%= sort_link(@q, :title) %></td>
              <td><%= book.title %></td>
              <td><%= book.author %></td>
              <td><%= book.name_person %></td>
              <td><%= book.status %></td>
              <td><%= book.start_date %></td>
              <td><%= book.end_date %></td>
              <td><%= link_to 'Ver', book %></td>
              <td><%= link_to 'Editar', edit_book_path(book) %></td>
              <td><%= link_to 'Eliminar', book, method: :delete, data: { confirm: '¿Estas segur@ de eliminarlo?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>

  <%= link_to 'Ingresar nuevo libro', new_book_path, class:"btn btn-primary letra mb-3" %>
</div>
